<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">OPERAÇÃO</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <BR>

  <ion-item>
    <ion-label position="floating">RESULTADO:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <BR>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class = "bt" color="warning" expand="full" disabled="">
            Mc
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class = "bt" color="warning" expand="full" disabled="">
            MR
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class = "bt" color="warning" expand="full">
            M+
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class = "bt" color="warning" expand="full">
            M-
          </ion-button>
        </ion-col>


        <ion-col>
          <ion-button class = "bt" color="warning" expand="full">
            MS
          </ion-button>
        </ion-col>


        <ion-col>
          <ion-button class = "bt" color="warning" expand="full">
            M <sup></sup>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            %
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            √
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            x2
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            1/x
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            CE
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            C
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class = "bt2" color="warning" expand="full">
            ÷
          </ion-button>
        </ion-col>


      </ion-row>


    </ion-grid>


</ion-content>
